In [1]:
# Importing Necessary Libraries
import quandl
import pandas as pd

In [2]:
# Validating the API Key
quandl.ApiConfig.api_key = 'jL9xAoZAEqSZ-xx1B_Pk'

In [3]:
# Fetching 2017's FSE/AFX_X stock data
dataset = quandl.get('FSE/AFX_X', start_date='2017-01-01', end_date='2019-12-31')

In [4]:
# Viewing first 5 rows
dataset.head()

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2017-01-02,34.99,35.94,34.99,35.80,NaN,44700.0,1590561.0,None,None,None
2017-01-03,35.90,35.93,35.34,35.48,NaN,70618.0,2515473.0,None,None,None
2017-01-04,35.48,35.51,34.75,35.19,NaN,54408.0,1906810.0,None,None,None
2017-01-05,35.02,35.20,34.73,35.06,NaN,48412.0,1692326.0,None,None,None
2017-01-06,34.91,35.21,34.91,35.04,NaN,27507.0,964046.0,None,None,None

In [5]:
# Printing the Highest & Lowest Opening Price
print("Highest Opening Price : ", dataset['Open'].sort_values(ascending=False)[0])
print("Lowest Opening Price : ", dataset['Open'].sort_values(ascending=True)[0])

Highest Opening Price :  53.11
Lowest Opening Price :  34.0

In [6]:
# Creating a Column of To Check the difference between Highest & Lowest Price
dataset['Change In Price'] = dataset['High'] - dataset['Low']

In [7]:
# Printing the difference between Highest & Lowest Price
print("Highest Change In Price : ", dataset['Change In Price'].sort_values(ascending=False)[0])

Highest Change In Price :  7.700000000000003

In [8]:
# Creating a Column of Difference Of The Consecutive days Closing Price
dataset['Difference Of Consecutive days Closing Price'] = dataset['Close'].diff()

In [9]:
# Printing Highest Difference Of The Consecutive days Closing Price
print("Difference Of Consecutive days Closing Price : ", dataset['Difference Of Consecutive days Closing Price'].sort_values(ascending=False)[0])

Difference Of Consecutive days Closing Price :  5.750000000000007

In [10]:
# Printing Average of Traded Volume
print("Average of Traded Volume : ", dataset['Traded Volume'].mean())

Average of Traded Volume :  101211.38333333333

In [11]:
# Printing Median of Traded Volume
print("Average of Traded Volume : ", dataset['Traded Volume'].median())

Average of Traded Volume :  85063.5